[submodule "Activity2"]
	path = Activity2
	url = https://github.com/Kolozuz/oop_unal_202501_act2.git
[submodule "Activity3"]
	path = Activity3
	url = https://github.com/Kolozuz/oop_unal_202501_act3.git
[submodule "Activity4"]
	path = Activity4
	url = https://github.com/Kolozuz/oop_unal_202501_act4.git
[submodule "Activity5"]
	path = Activity5
	url = https://github.com/Kolozuz/oop_unal_202501_act5
[submodule "Activity6"]
	path = Activity6
	url = https://github.com/Kolozuz/oop_unal_202501_act6
